
# Database
codescan.db

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
.venv/

# Uploaded files
uploads/*
!uploads/.gitkeep

*.html
!templates/index.html

*.json
imgRead.c